/* overall style */
body {
    background-color: aliceblue;
    font-size: 16px;
}
.section {
    margin: 50px auto;
    width: 650px;
}


/* log in form */
.section.login {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
form {
    width: 350px;
    background-color: rgb(140, 190, 240);
    text-align: center;
    font-size: 18px;
}
.heading-signin {
    margin-bottom: 20px;
}
.box {
    display: flex;
    flex-direction: column;
    width: 200px;
    text-align: left;
    gap: 5px;
}
.box.email {
    margin: 20px auto 10px;
}
.box.password {
    margin: 10px auto 20px;
}
input {
    width: 200px;
    height: 25px;
    padding: 0;
    box-sizing: border-box;
}
button {
    width: 200px;
    height: 30px;
    font-size: 18px;
    background-color: rgb(220, 230, 240);
}
p {
    margin: 20px auto;
}
