/* overall style */
body {
    background-color: aliceblue;
    font-size: 16px;
}
.section {
    margin: 30px auto;
    width: 650px;
}


/* items */
h2 {
    margin: 20px 10px 10px;
}
.container {
   display: flex;
   flex-wrap: wrap;
   padding: 0;
}
.item {
    height: 40px;
    border: solid 1px #555;
    border-radius: 5%;
    box-sizing: border-box;
    background-color: rgb(140, 190, 240);
    color: #555;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    margin: 10px;
}

.first.container {
    width: 400px;
}
.second.container {
    width: 200px;
}
.third.container {
    width: 600px
}


/* log in form */
.section.login {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
form {
    width: 350px;
    background-color: rgb(140, 190, 240);
    text-align: center;
    font-size: 18px;
}
.heading-signin {
    margin-bottom: 20px;
}
.box {
    display: flex;
    flex-direction: column;
    width: 200px;
    text-align: left;
    gap: 5px;
}
.box.email {
    margin: 20px auto 10px;
}
.box.password {
    margin: 10px auto 20px;
}
input {
    width: 200px;
    height: 25px;
    padding: 0;
    box-sizing: border-box;
}
button {
    width: 200px;
    height: 30px;
    font-size: 18px;
    background-color: rgb(220, 230, 240);
}
p {
    margin: 20px auto;
}
